absl-py==1.3.0
d4rl==1.1
gcsl @ git+https://github.com/scottemmons/gcsl.git@97a57c9dfbbfab5bfed4f5c453de60470c11eda7
gym==0.18.3
h5py==3.7.0
matplotlib==3.5.3
mujoco==2.3.0
mujoco-py==2.1.2.14
numba==0.56.4
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py3==7.352.0
pandas==1.3.5
pytorch-lightning==1.5.10
scikit-learn==1.0.2
scipy==1.7.3
torch==1.13.0
torchmetrics==0.10.2
wandb==0.13.5
